* {
    box-sizing: border-box;
}

nav {
    background-color: #004d40;
}

body {
    background-color: #00695c;
}

.titleImg {
    align-content: center;
    width: 100%;
}

.row3 {
    align-content: center;
}

